<!-- View comments to a client -->
<div class="container" style="max-width: 400px; margin: 0 auto">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- User's basic information -->
      <div class="text-center">
        <img src="http://placehold.it/300x200" alt="User's profile picture" class="img-responsive">
      </div>
      <hr>
      <h3 class="text-center">John Doe</h3>
      <p class="text-center">
        <i class="glyphicon glyphicon-star"></i>
        <i class="glyphicon glyphicon-star"></i>
        <i class="glyphicon glyphicon-star"></i>
        <i class="glyphicon glyphicon-star"></i>
        <i class="glyphicon glyphicon-star"></i>
      </p>
      <p class="text-center">johndoe@email.com</p>
      <p class="text-center">(000) 000-0000</p>
      <hr>
      <!-- User's reviews -->
      <h4>Reviews</h4>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img src="http://placehold.it/64x64" alt="Reviewer's profile picture" class="media-object">
          </a>
        </div>
        <div class="media-body">
          <p class="media-heading">
            <strong>Reviewer's first and last name</strong>
          </p>
          <p>
            <label for="rating">
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
            </label>
            <label for="review_date">01/01/2016</label>
            <p>
              <strong>Review heading</strong>
              <br>
              Minus voluptatibus praesentium omnis officiis odit sunt culpa repellat. Omnis quisquam dolore fugit perferendis illo distinctio ipsa iure. Nemo iste architecto culpa aliquid dolorum magnam qui.
            </p>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>