<div class="container">
  <!-- Service requests -->
  <h3>Service Requests</h3>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Type of service</strong>
        </div>
        <div class="panel-body">
          <label for="status">
            <strong>Status</strong>
          </label>
          <hr>
          <p><strong>Available providers</strong></p>
          <ul class="list-unstyled list-inline list-group">
            <li class="list-group-item"></li>
            <li>
              <strong>John Doe</strong>
            </li>
            <li class="pull-right">
              <button class="btn btn-sm btn-danger">Decline</button>
            </li>
            <li class="pull-right">
              <a href="#" class="btn btn-sm btn-success">Reply</a>
            </li>
            <li class="pull-right">
              <a href="#" class="btn btn-sm btn-primary">View profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Biddings -->
  <h3>Biddings</h3>
  <br>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body"></div>
      </div>
    </div>
  </div>

</div>
