<div class="container">
  <!-- Service requests -->
  <h3>Service Requests</h3>
  <br>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">Title</div>
        <div class="panel-body"></div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Biddings -->
  <h3>Biddings</h3>
  <br>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body"></div>
      </div>
    </div>
  </div>

</div>
