<div class="jumbotron" style="background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url('https://static1.thumbtackstatic.com/media/primo/pages/homepage/highlights/painter.jpg') center top no-repeat; background-size: cover; zoom: 1.2; min-height: 500px; padding-top: 10em; margin: 0">
  <div class="container text-center" style="color: white">
    <h1 style="color: white">Consider it done.</h1>
    <p>Find the professionals for every project on your list.</p>
    <br>
    <form action="search" class="form-inline" method="GET">
      <div class="form-group">
        <input type="text" class="form-control" style="min-width: 280px; background-color: white; border-radius: 3px; padding-left: 8px" placeholder="What service do you need?" autocomplete="off" required>
      </div>
      <button type="submit" class="btn btn-primary">Find service</button>
    </form>
  </div>
</div>
<div style="background-color: white">
  <div class="container" style="max-width: 800px; margin: 0 auto;">
    <h2 class="text-center" style="max-width: 640px; padding: 0.75em 0; margin: 1em auto; line-height: 1.2em">Find the right person for the right job and for the right price.</h2>
    <div class="row" style="padding-bottom: 4em;">
      <div class="col-sm-6">
        <h3>Get hired to do work</h3>
        <p style="font-size: 16px;">
          Within hours, interested and available professionals will send you custom offers. Each offer includes the following:
        </p>
        <ul class="list-unstyled" style="font-size: 16px; line-height:2.25em">
          <li><i class="glyphicon glyphicon-usd"></i> Price estimate</li>
          <li><i class="glyphicon glyphicon-pencil"></i> Personalized message</li>
          <li><i class="glyphicon glyphicon-user"></i> User profile</li>
          <li><i class="glyphicon glyphicon-star"></i> Customer reviews</li>
          <li><i class="glyphicon glyphicon-list"></i> Contact info</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <img src="http://placehold.it/400x400" alt="" class="img-responsive">
      </div>
    </div>
    <div class="row" style="padding-bottom: 4em">
      <div class="col-sm-6">
        <img src="http://placehold.it/400x400" alt="" class="img-responsive">
      </div>
      <div class="col-sm-6">
        <h3>Hire a professional to do get work done</h3>
        <p style="font-size: 16px">
          When you're ready, hire an experienced professional at a price that's right for you.
        </p>
      </div>
    </div>
    <div class="row" style="padding-bottom: 4em">
      <div class="col-sm-6">
        <h3></h3>
        <p style="font-size: 16px">

        </p>
      </div>
    </div>
  </div>
  <hr>
  <footer>
    <div class="container">
      <div class="row">
        <ul class="list-unstyled col-sm-3">
          <li><strong>Company</strong></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
        <ul class="list-unstyled col-sm-3">
          <li><strong>Customer</strong></li>
          <li><a href="#">How it works</a></li>
          <li><a href="#">Safety</a></li>
          <li><a href="#">iPhone app</a></li>
          <li><a href="#">Cost estimates</a></li>
        </ul>
        <ul class="list-unstyled col-sm-3">
          <li><strong>Support</strong></li>
          <li><a href="#">Help center</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="list-unstyled col-sm-3">
          <li><strong>Legal</strong></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Terms of use</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>