<div class="container">
  <form action="search" class="form-inline" method="GET">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <div class="form-group row">
          <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="What service do you need?" autocomplete="off" required>
          </div>
          <div class="col-sm-5">
            <button type="submit" class="btn btn-primary btn-block">Find service</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
