<!-- View comments to a client -->
<div class="container" style="max-width: 360px; margin: 0 auto">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- User's information -->
      <img src="http://placehold.it/300x200" alt="User's profile picture" class="img-responsive">
      <div class="text-center">
        <h3>John Doe</h3>
        <label style="color: orange">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
        </label>
        <p>johndoe@email.com</p>
        <p>(000) 000-0000</p>
      </div>
      <hr>
      <!-- User's reviews -->
      <h4>Reviews</h4>
      <p style="color: red"><small>(ONLY SHOW THE FIRST FIVE REVIEWS)</small></p>
      <a href="/write_review">Write a review</a>
      <!-- Review template -->
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img src="http://placehold.it/64x64" alt="Reviewer's profile picture" class="media-object">
          </a>
        </div>
        <div class="media-body">
          <p class="media-heading">
            <strong>Reviewer's first and last name</strong>
          </p>
          <p>
            <label for="rating" style="color: orange">
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
            </label>
            <label for="review_date">01/01/2016</label>
            <p>
              <strong>Review heading</strong>
              <br>
              Minus voluptatibus praesentium omnis officiis odit sunt culpa repellat. Omnis quisquam dolore fugit perferendis illo distinctio ipsa iure.
            </p>
          </p>

        </div>
      </div>
      <!-- Review template -->
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img src="http://placehold.it/64x64" alt="Reviewer's profile picture" class="media-object">
          </a>
        </div>
        <div class="media-body">
          <p class="media-heading">
            <strong>Reviewer's first and last name</strong>
          </p>
          <p>
            <label for="rating" style="color: orange">
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
            </label>
            <label for="review_date">01/01/2016</label>
            <p>
              <strong>Review heading</strong>
              <br>
              Minus voluptatibus praesentium omnis officiis odit sunt culpa repellat. Omnis quisquam dolore fugit perferendis illo distinctio ipsa iure.
            </p>
          </p>

        </div>
      </div>
      <hr>
      <!-- View all review button -->
      <a class="btn btn-primary btn-block" href="/view_reviews">View all reviews</a>
    </div>
  </div>
</div>