<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">
          <img src="http://placehold.it/500x400" alt="User's profile picture" class="img-responsive">
        </div>
        <div class="col-sm-7">
          <h4>Profile</h4>
          <label for="first_name">
            <strong>Name</strong>
          </label>
          <p>John Doe</p>
          <label for="email">
            <strong>Email</strong>
          </label>
          <p>johndoe@email.com</p>
          <label for="phone">
            <strong>Phone</strong>
          </label>
          <p>(000) 000-0000</p>
        </div>
      </div>
    </div>
  </div>
</div>