<form id="create-review-form" class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Creating a review</div>
    <div class="panel-body">
      <div class="row">
        <!-- Who am I reviewing? -->
        <div class="col-sm-4">
          <label>
            <strong>Reviewing</strong>
          </label>
          <p>John Doe</p>
        </div>
      <!-- What service did they perform? -->
        <div class="col-sm-4">
          <label>
            <strong>Service Performed</strong>
          </label>
          <p>Gardening</p>
        </div>
        <div class="col-sm-4"></div>
      </div>
      <hr>
      <!-- Rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          <strong>Rating</strong>
        </label>
        <select name="rating" class="form-control">
          <option value="-1"></option>
          <option value="5">5</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
        </select>
      </div>
      <!-- Title -->
      <div class="form-group">
        <label for="title" class="control-label">
          <strong>Heading</strong>
        </label>
        <input type="text" class="form-control" required>
      </div>
      <!-- Comments -->
      <div class="form-group">
        <label for="comments" class="control-label">
          <strong>Comments</strong>
        </label>
        <textarea name="comments" rows="4" class="form-control" required></textarea>
      </div>
      <!-- Post button -->
      <button class="btn btn-primary btn-block">Post review</button>
    </div>
  </div>
</form>
