<form id="create-review-form" ng-submit="review.submit()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Write a Review</strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <!-- Who am I reviewing? -->
        <div class="col-sm-6">
          <label>
            <strong>Person being reviewed</strong>
          </label>
          <p>{{review.firstName + ' ' + review.lastName}}</p>
        </div>
        <!-- What service was involved? -->
        <div class="col-sm-6">
          <label>
            <strong>Service</strong>
          </label>
          <p>{{review.service}}</p>
        </div>
      </div>
      <br>
      <div class="row">
        <!-- Who am I reviewing as? (i.e. client or provider) -->
        <div class="form-group col-sm-6">
          <label for="reviewing_as" class="control-label">
            <strong>Reviewing as a</strong>
          </label>
          <select name="reviewing_as" class="form-control" ng-model="review.selected1" ng-options="option.name for option in review.options1"></select>
        </div>
        <!-- Rating -->
        <div class="form-group col-sm-6">
          <label for="rating" class="control-label">
            <strong>Rating</strong>
          </label>
          <select name="rating" class="form-control" ng-model="review.selected2" ng-options="option.name for option in review.options2"></select>
        </div>
      </div>
      <!-- Title -->
      <div class="form-group">
        <label for="title" class="control-label">
          <strong>Heading</strong>
        </label>
        <input type="text" class="form-control" ng-model="review.heading" required>
      </div>
      <!-- Comments -->
      <div class="form-group">
        <label for="comments" class="control-label">
          <strong>Comments</strong>
        </label>
        <textarea name="comments" rows="4" class="form-control" ng-model="review.comments" required></textarea>
      </div>
      <!-- Action -->
      <button type="submit" class="btn btn-primary btn-block">Post review</button>
    </div>
  </div>
</form>
