<div id="search-requests-panel" class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Service Requests - Search Results</strong>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="Find client requests">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </form>
    </div>
    <!-- Search results -->
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th>Service</th>
          <th>Client</th>
          <th class="text-center"># of Offers</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gardening</td>
          <td><a href="/user/view">Mike Tyson</a></td>
          <td class="text-center">5</td>
          <td></td>
          <td>
            <a href="request/search/view">View details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>