<div id="view-request-panel" class="container">
  <div class="panel panel-default">
    <!-- Name/Heading -->
    <div class="panel-heading">
      <strong>Service Request</strong>
      <span class="pull-right">
        <a ng-href="request/edit/{{servReq.servReqData.idServiceRequest}}" class="btn btn-default btn-sm">
          <i class="glyphicon glyphicon-pencil"></i> Edit
        </a>
      </span>
    </div>
    <div class="panel-body">
      <div class="row">
        <!-- Title -->
        <div class="col-xs-4">
          <label>
            <strong>Service</strong>
          </label>
          <p>{{servReq.servReqData.serviceTitle}}</p>
        </div>
        <!-- Posting date -->
        <div class="col-xs-4">
          <label>
            <strong>Posting Date</strong>
          </label>
          <p>{{servReq.servReqData.date.substring(0, 10)}}</p>
        </div>
        <!-- Status -->
        <div class="col-xs-4">
          <label>
            <strong>Status</strong>
          </label>
          <p>
            <span class="label label-success" ng-if="servReq.servReqData.status === 'Open'">Open</span>
            <span class="label label-danger"  ng-if="servReq.servReqData.status !== 'Open'">Closed</span>
          </p>
        </div>
      </div>
      <br>
      <!-- Description -->
      <label>
        <strong>Description</strong>
      </label>
      <p>
        {{servReq.servReqData.description}}
      </p>
    </div>
    <!-- Available providers -->
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th>Provider</th>
          <th>Rate</th>
          <th>Amount</th>
          <th>Message</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-sm-2"><a href="/user/view">Jon Wang</a></td>
          <td class="col-sm-1">Fixed</td>
          <td class="col-sm-1">$0.00</td>
          <td class="col-sm-6">I'd like to know more details about the job. Please email me.</td>
          <td class="col-sm-2">
            <button type="button" class="btn btn-success btn-sm">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
