<!-- Service request template -->
<div id="view-request-panel" class="container">
  <div class="panel panel-default">
    <!-- Name/Heading -->
    <div class="panel-heading">
      <strong>Service Request</strong>
      <span class="pull-right">
        <a ng-href="request/edit/{{servReq.servReqData.idServiceRequest}}" class="btn btn-default btn-sm">
          <i class="glyphicon glyphicon-pencil"></i>
          Edit
        </a>
      </span>
    </div>
    <div class="panel-body">
      <div class="row">
        <!-- Title -->
        <div class="col-sm-4">
          <label>
            <strong>Service</strong>
          </label>
          <p>{{servReq.servReqData.serviceTitle}}</p>
        </div>
        <!-- Posting date -->
        <div class="col-sm-4">
          <label>
            <strong>Posting Date</strong>
          </label>
          <p>{{servReq.servReqData.date.substring(0, 10)}}</p>
        </div>
        <div class="col-sm-4">
          <!-- Status -->
          <label>
            <strong>Status</strong>
          </label>
          <p>
            <span class="label label-success" ng-if="servReq.servReqData.status === 'Open'">Open</span>
            <span class="label label-danger"  ng-if="servReq.servReqData.status !== 'Open'">Closed</span>
          </p>
        </div>
      </div>
      <hr>
      <!-- Description -->
      <label>
        <strong>Description</strong>
      </label>
      <p>
        {{servReq.servReqData.description}}
      </p>
      <hr>
      <!-- Available service providers -->
      <label>
        <strong>Available Offers</strong>
      </label>
      <div class="media">
        <div class="media-left media-middle">
          <a href="profile/view">
            <img src="http://placehold.it/64x64" alt="Provider's profile picture" class="media-object">
          </a>
        </div>
        <div class="media-body">
          <p class="media-heading">
            <a href="">John Doe</a>
          </p>
          <button type="button" class="btn btn-sm btn-primary">View details</button>
          <button href="#" class="btn btn-sm btn-success">Accept</button>
          <button class="btn btn-sm btn-danger">Decline</button>
        </div>
      </div>
    </div>
  </div>
</div>
