<form id="update-request-form" class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Update Service Request</strong>
    </div>
    <div class="panel-body">
      <!-- Name/Heading -->
      <div class="form-group">
        <label for="title" class="control-label">
          <strong>Title</strong>
        </label>
        <input type="text" name="Title" class="form-control" required>
      </div>
      <!-- Description -->
      <div class="form-group">
        <label for="description" class="control-label">
          <strong>Description</strong>
        </label>
        <textarea name="description" rows="4"class="form-control" required></textarea>
      </div>
      <!-- Status -->
      <div class="form-group">
        <label for="status" class="control-label">
          <strong>Status</strong>
        </label>
        <select name="status" class="form-control">
          <option value="1">Open</option>
          <option value="2">Closed</option>
        </select>
      </div>
      <!-- Actions -->
      <div class="pull-right">
        <button type="button" class="btn btn-primary">Save</button>
        <a href="#" class="btn btn-danger">Cancel</a>
      </div>
    </div>
  </div>
</form>
