<p>
  <a href="/dashboard">Return</a>
</p>
<!-- Service request template -->
<div class="container" style="max-width: 400px; margin: 0 auto;">
  <div class="panel panel-default">
    <!-- Name/Heading -->
    <div class="panel-heading" style="padding-top: 10px; padding-bottom: 15px; ">
      <strong>Gardening</strong>
      <div class="pull-right">
        <a href="offer/create" class="btn btn-primary btn-sm">
          <i class="glyphicon glyphicon-pencil"></i> Place offer
        </a>
      </div>
    </div>
    <div class="panel-body">
      <!-- Posting date -->
      <label for="posting_date">
        <strong>Posting Date</strong>
      </label>
      <p>01/01/2016</p>
      <!-- Status -->
      <label for="status">
        <strong>Status</strong>
      </label>
      <p><span class="label label-success">Open</span></p>
      <!-- Description -->
      <label for="description">
        <strong>Description</strong>
      </label>
      <p>
        Minus voluptatibus praesentium omnis officiis odit sunt culpa repellat. Omnis quisquam dolore fugit perferendis illo distinctio ipsa iure.
      </p>
    </div>
  </div>
</div>