body {
  position: relative;
  padding-bottom: 1em;
  background-color: #f9f9f9;
}

footer {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.panel-heading {
  padding-top: 10px;
  padding-bottom: 15px;
}

.rating {
  color: orange;
}

/**
 * Forms
 */
#signup-form {
  max-width: 360px;
  margin: 0 auto;
}

#login-form {
  max-width: 360px;
  margin: 0 auto;
}

#create-request-form {
  max-width: 480px;
  margin: 0 auto;
}

#update-request-form {
  max-width: 480px;
  margin: 0 auto;
}

#create-review-form {
  max-width: 480px;
  margin: 0 auto;
}



/**
 * Panels
 */
#view-request-panel {
  max-width: 480px;
  margin: 0 auto;
}

#view-user-panel {
  max-width: 480px;
  margin: 0 auto;
}