body {
  position: relative;
  padding-bottom: 1em;
  background-color: #f9f9f9;
}

footer {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

#signup-form {
  max-width: 360px;
  margin: 0 auto;
}

#login-form {
  max-width: 360px;
  margin: 0 auto;
}
