<!-- View comments to a client -->
<div id="view-user-panel" class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- User's information -->
      <div class="media">
        <div class="media-left media-middle">
          <img src="http://placehold.it/200x200" alt="User's profile picture" class="media-object">
        </div>
        <div class="media-body">
          <br>
          <h3 class="media-heading">John Doe</h3>
          <br>
          <label>
            <strong>Email</strong>
          </label>
          <p>johndoe@email.com</p>
          <label>
            <strong>Phone</strong>
          </label>
          <p>(000) 000-0000</p>
        </div>
      </div>
      <hr>
      <!-- User's reviews -->
      <h4>Reviews</h4>
      <p style="color: red"><small>(ONLY SHOW THE FIRST FIVE REVIEWS)</small></p>
      <a href="/write_review">Write a review</a>
      <!-- Review template -->
      <div class="media">
        <!-- Reviewer's profile picture -->
        <div class="media-left">
          <a href="#">
            <img src="http://placehold.it/64x64" alt="Reviewer's profile picture" class="media-object">
          </a>
        </div>
        <div class="media-body">
          <!-- Reviewer's name -->
          <label class="media-heading">
            <strong>Reviewer's name</strong> (Client or Service Provider)
          </label>
          <!-- Rating and date -->
          <br>
          <label class="rating">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
          </label>
          <span>01/01/2016</span>
          <br>
          <label>
            <strong>Service Requested/Provided</strong>
          </label>
          <br>
          <span>Gardening</span>
          <br>
          <label>
            <strong>Review heading</strong>
          </label>
          <p>
            Minus voluptatibus praesentium omnis officiis odit sunt culpa repellat. Omnis quisquam dolore fugit perferendis illo distinctio ipsa iure.
          </p>
        </div>
      </div>
      <hr>
      <!-- View all review button -->
      <a class="btn btn-primary btn-block" href="/view_reviews">View all reviews</a>
    </div>
  </div>
</div>