<div id="view-user-panel">
  <div class="panel panel-default">
  <div class="panel-body">
    <!-- User's information -->
    <div class="media">
      <!-- Profile picture -->
      <div class="media-left media-middle">
        <img src="http://placehold.it/200x200" alt="User's profile picture" class="media-object img-rounded">
      </div>
      <div class="media-body">
        <!-- Name -->
        <h3 class="media-heading">{{profile.profileData.firstName + ' ' + profile.profileData.lastName}}</h3>
        <br>
        <!-- Email -->
        <label>
          <strong>Email</strong>
        </label>
        <p>{{profile.profileData.email}}</p>
        <!-- Address -->
        <label ng-if="profile.additionalData.address">
          <strong>Address</strong>
        </label>
        <p ng-if="profile.additionalData.address">{{profile.additionalData.address}}</p>
        <!-- Phone -->
        <label ng-if="profile.additionalData.phone">
          <strong>Phone</strong>
        </label>
        <p ng-if="profile.additionalData.phone">{{profile.additionalData.phone}}</p>
      </div>
    </div>
    <hr>
    <!-- User's reviews -->
    <h4>Reviews</h4>
    <p ng-if="profile.reviews.length == 0">This user has no reviews :(</p>
    <!-- Review template -->
    <div class="media" ng-repeat="review in profile.reviews track by $index">
      <!-- Reviewer's profile picture -->
      <div class="media-left">
        <a href="#">
          <img src="http://placehold.it/64x64" alt="Reviewer's profile picture" class="media-object img-rounded">
        </a>
      </div>
      <div class="media-body">
        <!-- Reviewer's name -->
        <label class="media-heading">
          <strong><a ng-href="/user/view/{{review.reviewerID}}"/>{{review.firstName + ' ' + review.lastName}}</a></strong> ({{review.reviewAs}})
        </label>
        <!-- Rating and date -->
        <br>
        {{review.rating}}
        <label class="rating">
          <i class="glyphicon glyphicon-star"></i>
        </label>
        <span>{{review.date.substring(0, 10)}}</span>
        <br>
        <label ng-if="review.reviewAs === 'Client'">
          <strong>Service Requested</strong>
        </label>
        <label ng-if="review.reviewAs === 'Provider'">
          <strong>Service Provided</strong>
        </label>
        <br>
        <span>{{review.serviceTitle}}</span>
        <br>
        <br>
        <label>
          <strong><em>{{review.heading}}</em></strong>
        </label>
        <p>
          {{review.message}}
        </p>
      </div>
    </div>
  </div>
  </div>
</div>
