<div id="view-request-panel" class="panel panel-default">
  <div class="panel-heading">
    <strong>Service Offer</strong>
    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="search.back()">
      <i class="glyphicon glyphicon-chevron-left"></i> Back
    </button>
  </div>
  <div class="panel-body">
    <div class="row">
      <!-- Name/Heading -->
      <div class="col-sm-4">
        <label for="service">
          <strong>Service</strong>
        </label>
        <p>{{search.service.serviceTitle}}</p>
      </div>
      <!-- Posting date -->
      <div class="col-sm-4">
        <label for="posting_date">
          <strong>Posting Date</strong>
        </label>
        <p>{{search.service.date.substring(0, 10)}}</p>
      </div>
      <!-- Status -->
      <div class="col-sm-4">
        <label for="status">
          <strong>Status</strong>
        </label>
        <p><span class="label label-success">Open</span></p>
      </div>
    </div>
    <br>
    <!-- Description -->
    <label for="description">
      <strong>Description</strong>
    </label>
    <p>
      {{search.service.description}}
    </p>
    <br>
    <form class="form" ng-if="sess.loggedIn && sess.user.id !== search.service.clientID">
      <!-- Price -->
      <div class="form-group">
        <label for="price" class="control-label">
          <strong>Price</strong>
        </label>
        <div class="row">
          <!-- Price Rate -->
          <div class="col-sm-6">
            <select name="price_type" class="form-control" ng-model="search.selected" ng-options="option.name for option in search.options"></select>
          </div>
          <!-- Price amount -->
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text" name="price_amount" pattern="[0-9]+([\.][0-9]+)?" class="form-control" ng-model="search.formData.priceValue" required>
            </div>
          </div>
        </div>
      </div>
      <!-- Message -->
      <div class="form-group">
        <label for="message" class="control-label">
          <strong>Message</strong>
        </label>
        <textarea name="message" rows="4" class="form-control" ng-model="search.formData.note" required></textarea>
      </div>
      <!-- Place bid button -->
      <button class="btn btn-primary btn-primary pull-right" ng-click="search.postBid(search.service.idServiceRequest, sess.user.id)">
        <i class="glyphicon glyphicon-pencil"></i> Post offer
      </button>
    </form>
  </div>
</div><!-- /panel -->
